<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>World Ecnomic Data Analysis</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.min.js"></script>
  
    
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

    <nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md">
        <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a href="/" class='active'>
                    <button type="button" class="btn btn-info">World Economic Data Visualization</button>
                  </a>
                  </li>
           
        
        </ul>
        
            <button class="navbar-toggler visible-xs" type="button" data-toggle="collapse" data-target="#containerNavbar" >
              <span class="glyphicon glyphicon-th-list align-bottom"></span>
            </button>
            
        <div class="collapse navbar-collapse mylabelstyle" id="containerNavbar">
              <ul class="nav navbar-nav mr-auto navbar-right">
                  <li class=""><a href="earth.html">
                     World Overview
                     </a>
                  </li>
                <li class="active"><a href="plotlychart.html">Explore By Country <span class="sr-only">(current)</span></a></li>
                <li><a href="tableau.html">Explore By Region</a></li>
            <!--    <li><a href="data.html">World Leader </a></li> -->
              </ul>
             
        </div>
      </div>

</nav>
        <div class="container myfont">
               
                <div class="row">
                    <div class="col-md-3">
                        <div class="well">
                          <div class="myheaderstyle">
                             <p>Select Country:</p>
                            <select id="selCountry" onchange="selCountryChanged(this.value)">
                                
                            </select>
                          </div>
                        </div>
                        <div class="well">
                            <div class="myheaderstyle">
                               <p>Select Indicator:</p>
                               <select id="selIndicator" onchange="selIndicatorChanged(this.value)">
                                <option value = "GDP">GDP</option>
                                <option value="Population">Population</option>
                                <option value="CO2 Emmission">CO2 Emmission</option>
                                <option value="Renewable Energy">Renewable Energy</option>
                                <option value="Access Electricity">Access Electricity</option>
                            </select>
                            </div>
                        </div>
                        <div class="well">
                            <div class="myheaderstyle">
                               From Year:
                               <select id="selFrom" onchange="selFromYearChanged(this.value)">
                                </select>
                                To Year:
                                <select id="selTo" onchange="selToYearChanged(this.value)">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div id="line"></div>
                    </div>
                </div>
            </div>
   

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
   <script src="../static/plots.js"></script> 
  

</body>
</html>
